<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}localwiki API demo{% endblock %}</title>
    <!-- CSS -->
    <link rel=stylesheet href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel=stylesheet href="{{ url_for('static', filename='css/site.css') }}" />
    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/site.js') }}"></script>
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
